/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
}

.inner-content {
  padding: 20px 20px 20px 20px;
}

a {
  text-decoration: none;
  color: #2962FF;
  font-weight: bold;
}

a span {
  color: initial;
  font-weight: normal;
}

.clickable {
  cursor: pointer;
}
